

{% extends "restaurant/menu.html" %}




{% block serve_all_days %}
<section style="margin-top: 30px; width: 100%">
  <div id="Serve all days" class="image overflow-hidden d-flex align-items-center shadow long_bar" style="height: 150px; background-image: url(images/Serve%20all%20days.jpg)">
    <h4 class="transparent_bg text-light" style="padding: 10px; margin: auto">Serve all days</h4>
    <div class="top_right row">
      <h6 id="SAD_C" class="badge badge-pill badge-warning">0</h6>
    </div>
  </div>
</section>
{% endblock %}

{% block categories %}
<!--
{% for a in Category %}
{% if a.category != "Drinks" and a.category != "Snacks" %}
<section style="margin-top: 30px; width: 100%">
  <div id="Serve all days" class="image overflow-hidden d-flex align-items-center shadow long_bar" style="height: 150px; background-image: url(#)">
    <h4 class="transparent_bg text-light" style="padding: 10px; margin: auto">{{ a.category }}</h4>
    <div class="top_right row">
      <h6 id="{{ a.category }}" class="badge badge-pill badge-warning">0</h6>
    </div>
  </div>
</section>
{% endif %}
{% endfor %}

<section style="margin-top: 30px">
  <div style="width: 100%">
{% for a in Category %}
{% if a.category == "Snacks" %}
    <div id="Snacks" class="image overflow-hidden d-flex align-items-center shadow long_bar" style="float: left; width: 48%; height: 150px; background-image: url(images/Snacks.jpg)">
      <h4 class="text transparent_bg text-light">Snacks</h4>
      <div class="top_right row">
        <h6 id="Snacks_C" class="badge badge-pill badge-warning">0</h6>
      </div>
    </div>
{% elif a.category == "Drinks" %}
    <div id="Drinks" class="image overflow-hidden d-flex align-items-center shadow long_bar" style="float: right; width: 48%; height: 150px; background-image: url(images/Drinks.jpg)">
      <h4 class="text transparent_bg text-light">Drinks</h4>
      <div class="top_right row">
        <h6 id="Drinks_Discount" class="col badge badge-pill badge-success">0</h6>
        <h6 id="Drinks_C" class="col badge badge-pill badge-warning">0</h6>
      </div>
    </div>
{% endif %}
{% endfor %}
  </div>
</section>
-->
{%endblock %}

{% block footer %}
<section class="fixed-bottom">
  <div class="row m-2">
    <div class="col-5 rounded-pill transparent_bg">
      <p class="w-100 text-left text-light"><span>Price: $</span><span id="total_cost">N</span></p>
    </div>
    <div class="col-5 offset-2 rounded-pill transparent_bg">
      <p class="w-100 text-right text-light"><span>Table: </span><span id="table_id">
      {{user.username}}
      </span>
      </p>
    </div>
  </div>
  <div class="row justify-content-between m-2"> <a href="{% url 'home' %}" class="col-5 btn btn-warning rounded-pill w-100 h6">Exit menu</a>
    <a href="{% url 'cart' %}" class="col-5 offset-2 btn btn-info  rounded-pill  w-100 h6">My Cart</a> </div>
</section>
{% endblock %}