{% extends "restaurant/cart.html" %}

{% block header %}
<section id="page_header" class="fixed-top">
  <div class="w-100 bg-secondary" style="height: 50px">
    <div class="float-left align-bottom" style="width: 47%">
      <h4 id="header_title" class="text-light float-left" style="margin-left: 10px; margin-top: 12px;">Cart</h4>
      <h4 id="item_count" class="float-right badge badge-warning" style="padding: 5px; margin-top:8px">0</h4>
    </div>
  </div>
</section>
{% endblock %}

{% block content %}
<section id="maincontainer" style="margin-top: 60px; margin-bottom: 120px">
{% for food in cart %}

    <form action={% url 'remove_from_cart' %} method="post">
    {% csrf_token %}
    <!-- Modal -->
    <div class="modal fade" id="return_{{ forloop.counter0 }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="selected_food_name">{{food.food_name}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
		        <img id="selected_food_image" src="{{food.image.url}}" style="height: 150px; object-fit: cover; display: block; margin-left: auto; margin-right: auto">
		        <p>
			        <span id="selected_food_discounted">Total: $</span>
			        <span id="selected_food_price">{{food.price}}</span>
		        </p>
		        <p>Remove from cart?</p>
            </div>
            <div class="modal-footer">
                <input type="hidden" name="food_id" value="{{food.food_id}}" />
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-warning" onclick="returnThis('{{food.food_id}}', '{{ forloop.counter0 }}')">Return food</button>
            </div>
        </div>
        </div>
    </div>
    </form>

  <div class="m-4 bg-light shadow" id="content_{{ forloop.counter0 }}">
    <div class="row rounded" style="background-image: url({{food.image.url}}); background-size: auto 100%; height: 130px">
      <div class="col-1 offset-4 opa"></div>
      <div class="col bg-light rounded">
        <p class="text-dark" style="line-height: 1.5em">{{food.food_name}}</p>
        <p class="text-dark" style="line-height: 0em">Price: $<span class="price">{{food.price}}</span></p>
        <p id="{{food.food_name}}_desc" style="display: none">{{food.description}}</p>
        <div class="row gap" style="padding-right: 15px">
          <div class="col-3 offset-9">
            <p class="btn btn-danger text-center rounded" style="font-size: 120%; text-align: center" data-toggle="modal" data-target="#return_{{ forloop.counter0 }}">×</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %} </section>
{% endblock %}

{% block footer %}
<section id="page_footer" class="fixed-bottom">
  <section class="fixed-bottom">
    <div class="row m-2">
      <div class="col-5 rounded-pill transparent_bg">
        <p class="w-100 text-left text-light"><span>Total: $</span><span id="total_cost"></span></p>
      </div>
      <div class="col-5 offset-2 rounded-pill transparent_bg">
        <p class="w-100 text-right text-light"><span>Table: </span><span id="table_id">
          {{user.username}}
          </span></p>
      </div>
    </div>
    <div class="row justify-content-between m-2">
      {%if category_id %}
        <form class="col-5" type="hide" style="padding-left: 0px;padding-right: 0px;" action="{% url 'items' %}" method="post" onclick="submit();">
            {% csrf_token %}
            <input type="hidden" name="category_id" value="{{category_id}}" />
            <p class="btn btn-warning rounded-pill w-100 h6" id="exit_button">Back</p>
       </form>
      {% else %}
        <a href="{% url 'menu' %}" class="col-5 btn btn-warning rounded-pill w-100 h6" id="exit_button">Back</a>
      {% endif %}
      <a href="proceedorder" class="col-5 offset-2 btn btn-info  rounded-pill  w-100 h6" id="proceed_button">Order now</a>
    </div>
  </section>
</section>
{% endblock %}