<!DOCTYPE html>
<html lang="en">
<head>
    <title>Items</title>
</head>
<body>

{% extends "restaurant/items.html" %}

{% block header %}
<section id="page_header" class="fixed-top">
  <div class="w-100 bg-secondary shadow" style="height: 50px">
    <div class="float-left align-bottom" style="width: 47%">
      <h4 id="header_title" class="text-light float-left" style="margin-left: 10px; margin-top: 12px;">{% for a in Title %}{{a}}{% endfor %}</h4>
      <h4 id="item_count" class="float-right badge badge-warning" style="padding: 5px; margin-top:8px">0</h4>
    </div>
    <div class="float-right" id="return_button" style="width: 47%"></div>
  </div>
</section>
{% endblock %}
	
{% block content %}
<section id="maincontainer" style="margin-top: 60px; margin-bottom: 60px">
{% for a in Food %}
<form action="{% url 'add_to_cart'%}" method="post" id="{{a.food_id}}_form"> 
{% csrf_token %}
<!-- Modal -->
<div class="modal fade" id="{{a.food_id}}_modal" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="selected_food_name">{{a.food_name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <img src="{{a.image.url}}" style="height: 150px; object-fit: cover; display: block; margin-left: auto; margin-right: auto">
          <p>
              <span>Total: $</span>
              <span id="{{a.food_id}}_total">{{a.price}}</span>
          </p>
          <p>
              <span>{{a.description}}</span>
          </p>
          <div class="w-75 d-flex" style="margin: auto">
            <p id="{{a.food_id}}_modalSub" class="btn btn-dark w-25" onclick="changeModalQuantity('{{a.food_id}}', -1, '{{a.price}}')">-</p>
            <input type="text" readonly="readonly" style="border: 0; text-align: center; width: 49%" id="{{a.food_id}}_modalCount" class="text-dark text-center" name="quantity" value="1">
            <p id="{{a.food_id}}_modalAdd" class="btn btn-dark w-25" onclick="changeModalQuantity('{{a.food_id}}', 1, '{{a.price}}')">+</p>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="changeModalQuantity('{{a.food_id}}', 0, '{{a.price}}')">Cancel</button>
        <input type="hidden" name="food_id" value="{{a.food_id}}">
        <button type="button" class="btn btn-primary" onclick="addThis('{{a.food_id}}_form', '{{a.food_id}}', '{{a.food_id}}_modalCount'); changeModalQuantity('{{a.food_id}}', 0, '{{a.price}}')">Add to cart</button>
      </div>
    </div>
  </div>
</div>
</form>

  <div class="m-4 bg-light shadow" id="{{a.food_name}} main" data-toggle="modal" data-target="#{{a.food_id}}_modal">
    <div class="row rounded" style="background-image: url({{a.image.url}}); background-size: auto 100%; height: 130px">
      <div class="col-1 offset-4 opa"></div>
      <div class="col bg-light rounded">
        <p class="text-dark custom_text" style="line-height: 1.5em">{{a.food_name}}</p>
        <p class="text-dark" style="line-height: 0em">Price: $<span></span>{{a.price}}</p>
        <p id="{{a.food_name}}_desc" style="display: none">{{a.description}}</p>
        <div class="row gap" style="padding-right: 15px">
          <div class="col-6 align-self-center d-none">
            <p class="align-self-center"><span class="float-left">Take: </span><span class="float-right">1</span></p>
          </div>
          <div class="col-3 d-none">
            <p class="btn btn-dark text-center rounded" style="font-size: 120%; text-align: center" data-toggle="modal" data-target="#exampleModalCenter">ðŸ–Š</p>
          </div>
          <div class="col-3 d-none">
            <p class="btn btn-danger text-center rounded" style="font-size: 120%; text-align: center">Ã—</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% endfor %} </section>
{% endblock %}
	
{% block footer %}
<section id="page_footer" class="fixed-bottom">
  <section class="fixed-bottom">
    <div class="row m-2">
      <div class="col-5 rounded-pill transparent_bg">
        <p class="w-100 text-left text-light shadow-sm"><span>Total: $</span><span id="total_cost">{{ Total|floatformat:2 }}</span></p>
      </div>
      <div class="col-5 offset-2 rounded-pill transparent_bg">
        <p class="w-100 text-right text-light shadow-sm"><span>Table: </span><span id="table_id">
        {{user.username}}
		</span></p>
      </div>
    </div>
    <div class="row justify-content-between m-2">
      <a class="col-5 btn btn-warning rounded-pill w-100 h6 shadow-sm" href="{% url 'menu' %}">Back</a>
      <form class="col-5 offset-2" style="padding-left: 0px;padding-right: 0px;" typeof="hide" action="{% url 'cart' %}" method="post" onclick="submit()">
      {% csrf_token %}
      <input type="hidden" name="category_id" value="{{category_id}}" />
       <p class="btn btn-info  rounded-pill w-100 h6 shadow-sm" id="proceed_button">My Cart</p>
      </form>
    </div>
  </section>
</section>
{% endblock %}
	
	</body>
</html>