<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no, autoRotate:disabled">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Hello, world!</title>
	  <style>
		  .gap{margin-top: 30px;}
		  .bottom{margin-bottom: 150px;} 
		  .image{height: 220px;}
		  .opa{background: linear-gradient(90deg, rgba(248,249,250,0), rgba(248,249,250,1));}
		  .transparent_bg{background: rgba(0, 0, 0, 0.5)}
	  </style>
      {% load static %}
	  <script type="text/javascript" src="{% static 'app/scripts/general_functions.js' %}"></script>
  </head>
	<body class="bg-dark">
	{% block header %}
	{% endblock %}
	{% block content %}
	{% endblock %}
	{% block footer %}
	{% endblock %}

<!-- Modal -->
<div class="modal fade" id="removeFromCartSuccess" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Food removed</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

    <!-- Optional JavaScript --> 
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script type="text/javascript">
        function calcTotal() {
            var allPrices = document.getElementsByClassName("price");
            var total = 0;
            var counter = 0;
            Array.prototype.forEach.call(allPrices, function(a) {
                // Do stuff here
                total += parseFloat(a.innerHTML);
                counter++;
            });
            document.getElementById("total_cost").innerHTML = total.toFixed(2);
            document.getElementById("item_count").innerHTML = counter;
        }
        function returnThis(food_id, index) {
            $.ajax({
                type: 'POST',
                url: 'removefromcart',
                data: {
                    food_id: food_id,
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                },
                success: function () {
                    $('#return_'+index).modal('hide');
                    $('#removeFromCartSuccess').modal('show');
                    var child = document.getElementById('content_' + index);
                    child.parentNode.removeChild(child);
                    calcTotal();
                }
            });
        }
        window.onload = function () {
            calcTotal();
        }
    </script>
  </body>
</html>
