<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" http-equiv="ScreenOrientation" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no, autoRotate:disabled">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Menu</title>
	  <style>
		  .gap{margin-top: 30px;}
		  .bottom{margin-bottom: 320px;}
		  .image{height: 220px; position: relative}
		  .image_slide{background-size: cover; background-position: center; height: 250px}
		  .long_bar{background-size: cover; background-position: center; height: 150px}
		  .text{position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%); padding: 10px}
		  .transparent_bg{background: rgba(0, 0, 0, 0.5)}
		  .top_right{position: absolute;top: 8px;right: 20px}
	  </style>
      {% load static %}
	  <script type="text/javascript" src="{% static 'app/scripts/general_functions.js' %}"></script>
  	</head>
<body class="bg-dark">
{% for a in Category %}
<section>
<form type="hide" method="post" action="{% url 'items' %}" onclick="submit()">
{% csrf_token %}
<input type="hidden" name="category_id" value="{{a.category_id}}"/>
<section style="margin-top: 30px; width: 100%">
  <div id="{{a}}" class="image overflow-hidden d-flex align-items-center shadow long_bar" style="height: 150px; background-image: url({{ a.image.url }})">
    <h4 class="transparent_bg text-light w-75 text-center shadow" style="padding: 10px; margin: auto">{{ a }}</h4>
    <div class="top_right row">
      <h6 id="{{ a }}_count" class="badge badge-pill badge-warning">0</h6>
    </div>
  </div>
</section>
</form>
</section>
{% endfor %}
		
<section style="margin-top: 30px">
  <div style="width: 100%">
    {% for a in Snacks %}
    <section>
	<form type="hide" method="post" action="{% url 'items' %}" onclick="submit()">
        {% csrf_token %}
	<input type="hidden" name="category_id" value="{{a.category_id}}"/>
      <div id="{{a}}" class="image overflow-hidden d-flex align-items-center shadow long_bar" style="float: left; width: 48%; height: 150px; background-image: url({{ a.image.url }})">
        <h4 class="text transparent_bg text-light w-75 text-center shadow">{{ a }}</h4>
        <div class="top_right row">
          <h6 id="{{a}}_count" class="badge badge-pill badge-warning">0</h6>
        </div>
    </div>
	</form>
	</section>
	{% endfor %}
	{% for a in Drinks %}
	<section>
	<form method="post" action="{% url 'items' %}" onclick="submit()">
        {% csrf_token %}
	<input type="hidden" name="category_id" value="{{a.category_id}}"/>
    <div id="{{a}}" class="image overflow-hidden d-flex align-items-center shadow long_bar" style="float: right; width: 48%; height: 150px; background-image: url({{ a.image.url }})">
      <h4 class="text transparent_bg text-light w-75 text-center shadow">{{ a }}</h4>
      <div class="top_right row">
        <h6 id="Drinks_Discount" class="col badge badge-pill badge-success">0</h6>
        <h6 id="{{a}}_count" class="col badge badge-pill badge-warning">0</h6>
      </div>
    </div>
	</form>
	</section>
	{% endfor %}
  </div>
</section>

<section class="bottom"></section>
		
	{% block footer %}
		
	{% endblock %}
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script>
      window.onload = function () {
          check_bill('{{csrf_token}}');
      }
  </script>
</body>
</html>
